= '\n'

// for Google
meta(name='keywords', content='jumboslider,slider,slideshow,jumbotron,gallery,jquery-plugin,ecosystem:jquery,jQuery,plugin')/
meta(name='description', content='Yet another responsive slider for any kind of content')/
