.general
  h3 General initialization
  | <pre class=" language-javascript"><code class="javascript language-javascript">$.jumboslider();</code></pre>

  .demo-jumbotron.jumboslider
    .jumboslider-viewport
      .jumboslider-overview
        .jumbotron.jumboslider-item
          p Knowledge speaks, but wisdom listens.
        .jumbotron.jumboslider-item
          p Our character is what we do when we think no one is looking.
        .jumbotron.jumboslider-item
          p If you find yourself in a hole, the first thing to do is stop digging.
        .jumbotron.jumboslider-item
          p That which does not kill us only makes us stronger.
  .demo-jumbotron.jumboslider
    .jumboslider-viewport
      .jumboslider-overview
        .jumbotron.jumboslider-item
          p Love all, trust a few.
        .jumbotron.jumboslider-item
          p The quieter you become, the more you can hear.
        .jumbotron.jumboslider-item
          p To be old and wise, you must first have to be young and stupid.
        .jumbotron.jumboslider-item
          p Don&apos;t think outside the box&mldr; Think like there is no box.
.method
  h3 Method initialization
  | <pre class=" language-javascript"><code class="javascript language-javascript">$(".gallery").jumboslider();</code></pre>

  .gallery
    .jumboslider-viewport
      .jumboslider-overview
        .jumboslider-item
          img(src='assets/demo/images/image001.jpg', width='100%', alt='Photo 01')
        .jumboslider-item
          img(src='assets/demo/images/image002.jpg', width='100%', alt='Photo 02')
        .jumboslider-item
          img(src='assets/demo/images/image003.jpg', width='100%', alt='Photo 03')
        .jumboslider-item
          img(src='assets/demo/images/image004.jpg', width='100%', alt='Photo 04')
        .jumboslider-item
          img(src='assets/demo/images/image005.jpg', width='100%', alt='Photo 05')
        .jumboslider-item
          img(src='assets/demo/images/image006.jpg', width='100%', alt='Photo 06')
        .jumboslider-item
          img(src='assets/demo/images/image007.jpg', width='100%', alt='Photo 07')
        .jumboslider-item
          img(src='assets/demo/images/image008.jpg', width='100%', alt='Photo 08')
        .jumboslider-item
          img(src='assets/demo/images/image009.jpg', width='100%', alt='Photo 09')
        .jumboslider-item
          img(src='assets/demo/images/image010.jpg', width='100%', alt='Photo 10')
.options
  h3 Options
  p This JumboSlider has no arrow controllers.
  | <pre class=" language-javascript"><code class="javascript language-javascript">$("#demo-arrows").jumboslider({
  |     arrows: false
  | });</code></pre>

  #demo-arrows.demo-iframe
    .jumboslider-viewport
      .jumboslider-overview
        .jumboslider-item
          .holder
            iframe(src='https://www.youtube.com/embed/Cbk980jV7Ao?list=PL456A8C049630174C', frameborder='0', allowfullscreen='')
        .jumboslider-item
          .holder
            iframe(src='https://www.youtube.com/embed/uy0HNWto0UY?list=PL456A8C049630174C', frameborder='0', allowfullscreen='')
  p This JumboSlider has no pagination controllers.
  | <pre class=" language-javascript"><code class="javascript language-javascript">$("#demo-pagination").jumboslider({
  |     pagination: false
  | });</code></pre>

  #demo-pagination.demo-iframe
    .jumboslider-viewport
      .jumboslider-overview
        .jumboslider-item
          .holder
            iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5391.058428209344!2d-73.97210069892472!3d40.75903523708097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sFifth+Avenue%2C+589+5th+Ave%2C+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sbg!4v1439303892692', frameborder='0', style='border:0', allowfullscreen='')
        .jumboslider-item
          .holder
            iframe(frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://www.openstreetmap.org/export/embed.html?bbox=-73.98555994033813%2C40.75388918270174%2C-73.95723581314087%2C40.76900427024063&layer=mapnik', style='border: 1px solid black')
  .demo-loop
    p
      | This JumboSlider is able to start over from the first item after it reaches to the last one and also to jump back to the last item right from the first one. There are also custom controllers with attached JumboSlider methods.
    | <pre class=" language-javascript"><code class="javascript language-javascript">$("#demo-loop").jumboslider({
    |     loop: true
    | });</code></pre>

    .controllers.cf
      a.btn.prev(href='javascript:$("#demo-loop").jumboslider().slidePrev()') Previous
      |
      a.btn.next(href='javascript:$("#demo-loop").jumboslider().slideNext()') Next
    #demo-loop
      .jumboslider-viewport
        .jumboslider-overview
          .jumboslider-item
            img(src='assets/demo/images/image011.jpg', width='100%', alt='Photo 11')
          .jumboslider-item
            img(src='assets/demo/images/image012.jpg', width='100%', alt='Photo 12')
          .jumboslider-item
            img(src='assets/demo/images/image013.jpg', width='100%', alt='Photo 13')
          .jumboslider-item
            img(src='assets/demo/images/image014.jpg', width='100%', alt='Photo 14')
          .jumboslider-item
            img(src='assets/demo/images/image015.jpg', width='100%', alt='Photo 15')
          .jumboslider-item
            img(src='assets/demo/images/image016.jpg', width='100%', alt='Photo 16')
          .jumboslider-item
            img(src='assets/demo/images/image017.jpg', width='100%', alt='Photo 17')
          .jumboslider-item
            img(src='assets/demo/images/image018.jpg', width='100%', alt='Photo 18')
          .jumboslider-item
            img(src='assets/demo/images/image019.jpg', width='100%', alt='Photo 19')
          .jumboslider-item
            img(src='assets/demo/images/image020.jpg', width='100%', alt='Photo 20')
    .controllers.custom-controller
      label(for='custom-item-input') Go to custom item:
      |&nbsp;
      input#custom-item-input.textfield(type='number', value='7')
      |&nbsp;
      a#custom-slide-btn.btn.custom-slide-btn(href='javascript:;') Slide
